body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: black; */
    background-image: url('/static/img/chfiveseathree.jpg');
    background-position: top;
    background-size: contain;
    background-repeat:space;
    background-color:rgb(243, 116, 13);
    color: white;
    margin: 0;
}

.countdown-container, .info-container {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    padding: 5vw;
    width: 100%;
    /* max-width: 600px; */
    text-align: center;
}

h1, h2 {
    color: white;
}

#timer {
    font-size: 3.0rem!important;
    font-weight: bold;
    color: white;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.verified_information {
    background-image: url(/static/img/verified_info.png);
    width: auto;
    height: 7vw;
    /* max-height: 10vw; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}


.countdown-wrapper{
    background-color: rgba(0,0,0,0.6);
    padding:0.3vw;
    margin: auto;
    margin-top:0px;
}
.countdown {
    background-image: url(/static/img/countdown.png);
    width: auto;
    height: 7vw;
    /* max-height: 10vw; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}



.shadow-container {
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 1);
}