{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Discover the epic moments and highlights of Fortnite Season 5 Chapter 3. Experience the thrill of new adventures.">
<meta name="keywords" content="Fortnite, Season 5 Chapter 3, Fortnite Epic Moments, New Adventures">
{% endblock %}

{% block title %}Fortnite Season 5 Chapter 3 - Epic Moments{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/epic.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5" id="main">
  <div class="epic-container text-center p-3 bg-dark rounded">
    <h1 class="fs-1">Epic Moments in Season 5 Chapter 3</h1>
    <p class="fs-4">Relive the most epic moments of Fortnite Season 5 Chapter 3. From thrilling battles to unforgettable events, this season has it all.</p>
    <img src="/static/img/season5_epic.jpg" alt="Season 5 Epic Moments" class="img-fluid mt-3 mb-4">
    <h2 class="fs-2">Highlights</h2>
    <p class="fs-4">Experience the most exciting and memorable moments of this season. Join the action and create your own epic stories.</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/epic.js') }}"></script>
{% endblock %}
