{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Get all the verified updates and countdown to the new Fortnite season. Discover new features, release dates, and accurate season information.">
<meta name="keywords" content="Fortnite, New Season, Fortnite Countdown, Season Release Date, Fortnite Updates">
{% endblock %}

{% block title %}Fortnite New Season Countdown and Updates{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container w-12" id="main">
    <div class="countdown-container text-center bg-dark rounded">
        <div class="countdown-wrapper"><div class='countdown mt-3 mb-4'></div></div>
        <p class="mt-3" id="timer"></p>
    </div>
    <div class="info-container mt-4 bg-dark rounded shadow-container">
        <div class="countdown-wrapper"><div class="verified_information"></div></div>
        <p>
            All the latest verified information about the upcoming Fortnite season will be updated here.
        </p>
        <div class="verified-section">
            <h2>COLLABS:</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Mad Max</h3>
                    <img src="{{ url_for('static', filename='img/max_max.png') }}" alt="Mad Max" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Fallout</h3>
                    <img src="{{ url_for('static', filename='img/fallout.png') }}" alt="Fallout" class="img-fluid">
                </div>
            </div>
            <h2>Gameplay:</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Car Jacking</h3>
                    <img src="{{ url_for('static', filename='img/car_jacking.png') }}" alt="Car Jacking" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Vehicle Weapons</h3>
                    <img src="{{ url_for('static', filename='img/vehicle_weapons.png') }}" alt="Vehicle Weapons" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- unverified information -->
    <div class="info-container mt-4 bg-dark rounded shadow-container">
        <div class="countdown-wrapper"><div class="unverified_information"></div></div>
        <p>
            All the things listed below are unverified, but highly talked about items for the new update.
        </p>
        <div class="verified-section">
            <h2>COLLABS:</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Pirate of the Caribbean</h3>
                    <img src="{{ url_for('static', filename='img/pirates.png') }}" alt="Pirates of the Caribbean meets fornite" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Metallica</h3>
                    <img src="{{ url_for('static', filename='img/metallica.png') }}" alt="Metallica in Fortnite" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Marvel Back Again?</h3>
                    <img src="{{ url_for('static', filename='img/marvel.png') }}" alt="Marvel in Fortnite Seaon 5 Chapter 3" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Mayhem From Borderlands</h3>
                    <img src="{{ url_for('static', filename='img/borderlands.png') }}" alt="Mayhem from Borderlands in Fortnite Season 5 Chapter 3" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="faq-container mt-4 p-5 bg-dark rounded text-dark">
        <h2>Frequently Asked Questions</h2>
        <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is the Fortnite new season release date?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        May 24th, 2024!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What new features can we expect in the upcoming season?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        New features will include improvements to gameplay, new skins, and more!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How can I update Fortnite to the new season?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Update instructions will be provided here once the season launches.
                    </div>
                </div>
            </div>
            <!-- Add more questions here -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
