{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Explore the new skins introduced in Fortnite Season 5 Chapter 3. Find out which new characters you can play as and collect.">
<meta name="keywords" content="Fortnite, Season 5 Chapter 3, Fortnite Skins, New Skins">
{% endblock %}

{% block title %}Fortnite Season 5 Chapter 3 - Skins{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/skins.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5" id="main">
  <div class="skins-container p-3 bg-dark rounded">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="fs-1">Fortnite Season 5 Chapter 3 - Skins</h1>
        <ul class="nav nav-tabs justify-content-center mt-4" id="categoryTab" role="tablist">
          {% for category in skins %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if loop.first %}active{% endif %}" id="category-tab-{{ loop.index0 }}" data-bs-toggle="tab" href="#category-{{ loop.index0 }}" role="tab" aria-controls="category-{{ loop.index0 }}" aria-selected="{{ 'true' if loop.first else 'false' }}">{{ category.category }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="tab-content mt-4" id="categoryTabContent">
      {% for category in skins %}
      <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="category-{{ loop.index0 }}" role="tabpanel" aria-labelledby="category-tab-{{ loop.index0 }}">
        <div class="row justify-content-center">
          {% for skin in category.skins %}
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="fs-3">{{ skin.name }}</h3>
            <img src="{{ url_for('static', filename='img/' + skin.image) }}" alt="{{ skin.name }}" class="img-fluid mb-3 standardized-image">
            <p class="fs-4">{{ skin.description }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/skins.js') }}"></script>
{% endblock %}
