{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Discover the theme for Fortnite Chapter 5 Season 3. Explore the new adventures, challenges, and storylines awaiting players.">
<meta name="keywords" content="Fortnite, Chapter 5 Season 3, Fortnite Theme, New Season">
{% endblock %}

{% block title %}Fortnite Chapter 5 Season 3 - Theme{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5" id="main">
  <div class="theme-container text-center p-3 bg-dark rounded">
    <h1 class="fs-1">Fortnite Chapter 5 Season 3 Theme</h1>
    <p class="fs-4">Welcome to the new season of Fortnite! This chapter's theme revolves around a post-apocalyptic world where survivors band together to rebuild society amidst the ruins. Expect thrilling new challenges, mysterious quests, and a storyline that will keep you on the edge of your seat.</p>
    <img src="{{ url_for('static', filename='img/season5_theme.png') }}" alt="Season 5 Theme" class="img-fluid mt-3 mb-4">
    <h2 class="fs-2">What's New?</h2>
    <p class="fs-4">This season introduces new locations, unique characters, and an array of weapons and items to help you survive and thrive in this new world. The map has been drastically altered, with hidden bunkers, new landmarks, and dangers lurking around every corner.</p>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='img/apocalyptic.webp') }}" class="card-img-top" alt="Apocalyptic Setting">
                <div class="card-body">
                    <h5 class="card-title">Apocalyptic Setting</h5>
                    <p class="card-text">Explore the post-apocalyptic world of Fortnite Chapter 5 Season 3 with new wasteland-themed environments.</p>
                    <a href="https://www.charlieintel.com/fortnite-chapter-5-season-3-update-release-date-wrecked-theme-leaked-pois-more/192926/" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='img/vehicle_combat.webp') }}" class="card-img-top" alt="Vehicle Combat">
                <div class="card-body">
                    <h5 class="card-title">Vehicle Combat</h5>
                    <p class="card-text">Hijack and modify vehicles with weapons to dominate the battlefield in a Mad Max-inspired setting.</p>
                    <a href="https://www.dexerto.com/fortnite/fortnite-chapter-5-season-3-battle-pass-leaks-fallout-skin-more-2167565/" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='img/pois.webp') }}"  class="card-img-top" alt="New POIs">
                <div class="card-body">
                    <h5 class="card-title">New Points of Interest</h5>
                    <p class="card-text">Discover new locations like the massive boat POI and Nitro Drome arena, designed to fit the apocalyptic theme.</p>
                    <a href="https://www.charlieintel.com/fortnite-chapter-5-season-3-update-release-date-wrecked-theme-leaked-pois-more/192926/" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='img/collaborations.webp') }}"  class="card-img-top" alt="Collaborations">
                <div class="card-body">
                    <h5 class="card-title">Exciting Collaborations</h5>
                    <p class="card-text">Enjoy new content from collaborations with Fallout, Marvel, Pirates of the Caribbean, and Metallica.</p>
                    <a href="https://www.standard.co.uk/tech/fortnite-chapter-5-season-3-start-date-wrecked-theme-apocalyptic-collaborations-b1083013.html" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='img/leakedskins.webp') }}"  class="card-img-top" alt="Leaked Skins and Cosmetics">
                <div class="card-body">
                    <h5 class="card-title">Leaked Skins and Cosmetics</h5>
                    <p class="card-text">Unlock new Battle Pass skins like the T-60 Power Armor and other rugged, survivalist designs.</p>
                    <a href="https://www.dexerto.com/fortnite/fortnite-chapter-5-season-3-battle-pass-leaks-fallout-skin-more-2167565/" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='img/themed_weapons.webp') }}"  class="card-img-top" alt="Themed Weapons and Items">
                <div class="card-body">
                    <h5 class="card-title">Themed Weapons and Items</h5>
                    <p class="card-text">Equip new weapons and items like the Speedgrip modification to gain an edge in combat.</p>
                    <a href="https://www.rivalry.com/news/fortnite-chapter-5-season-3" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% endblock %}
