{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Explore the new vehicles and features introduced in Fortnite Season 5 Chapter 3. Learn about the new ways to navigate the map and dominate the battlefield.">
<meta name="keywords" content="Fortnite, Season 5 Chapter 3, Fortnite Vehicles, New Vehicles, Vehicle Attachments, Mobility Items">
{% endblock %}

{% block title %}Fortnite Season 5 Chapter 3 - Vehicles{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vehicles.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5" id="main">
  <div class="vehicles-container p-3 bg-dark rounded">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="fs-1">Fortnite Season 5 Chapter 3 - Vehicles</h1>
        <ul class="nav nav-tabs justify-content-center mt-4" id="categoryTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="mods-tab" data-bs-toggle="tab" href="#mods" role="tab" aria-controls="mods" aria-selected="true">Vehicle Mods</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="mod-boxes-tab" data-bs-toggle="tab" href="#mod-boxes" role="tab" aria-controls="mod-boxes" aria-selected="false">Mod Boxes</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content mt-4" id="categoryTabContent">
      <!-- Vehicle Mods Content -->
      <div class="tab-pane fade show active" id="mods" role="tabpanel" aria-labelledby="mods-tab">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="fs-2">Vehicle Mods</h2>
            <p class="fs-4">Players can now upgrade their vehicles with various mods, turning them into formidable weapons. Here are the available mods:</p>
            <div class="row justify-content-center">
              {% for mod in vehicle_mods %}
              <div class="col-md-6 col-lg-4 mb-4">
                <h3 class="fs-3">{{ mod.name }}</h3>
                <img src="{{ url_for('static', filename='img/' + mod.image) }}" alt="{{ mod.name }}" class="img-fluid mb-3 standardized-image">
                <p class="fs-4">{{ mod.description }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Mod Boxes Content -->
      <div class="tab-pane fade" id="mod-boxes" role="tabpanel" aria-labelledby="mod-boxes-tab">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="fs-2">Mod Boxes</h2>
            <p class="fs-4">There are seven Mod Boxes in Fortnite Chapter 5 Season 3. When rammed by a car, they automatically attach specific mods to your vehicle:</p>
            <div class="row justify-content-center">
              {% for box in mod_boxes %}
              <div class="col-md-6 col-lg-4 mb-4">
                <h3 class="fs-3">{{ box.name }}</h3>
                <img src="{{ url_for('static', filename='img/' + box.image) }}" alt="{{ box.name }}" class="img-fluid mb-3 standardized-image">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/vehicles.js') }}"></script>
{% endblock %}

